.forgotp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-forgot{
  padding-top: 10px;
}

.recover{
  text-align: center;
}

.form-group{
  display: block;
  border: 0px;
}

.form-forgot{
  border-radius: 25rem;
  margin: 15px;
  padding-bottom: 20px;
}

.form-control{
  padding: 2.5px;
  width: 100%;
  font-size: 16px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn{
  font-weight: 400;
  width: 167px;
  height: 52px;
}

.btn-primary{
  color:#fff;
  background-color:#F46F22;
  border-color:#F46F22;
  font-size: 16px;
}

